<div class="container">
  <div class="logo d-flex justify-content-around align-items-center">
    <%= image_tag "cocktail-logo.png", alt: "cocktail", width: 250 %>
  </div>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card d-flex justify-content-around align-items-center">
      <h3><%= link_to cocktail.name, cocktail_path(id: cocktail['id']), class: 'cocktail-name' %></h3>
    </div>
    <% end %>
  </div>
</div>
