<div class="container">
  <h1>Cocktails</h1>
  <% @cocktails.each do |cocktail| %>
  <h3><%= cocktail.name %></h3>
  <%= link_to "See more", cocktail_path(id: cocktail['id']) %>
  <% end %>
  <%= link_to "Add a cocktail", new_cocktail_path %>
</div>
