<div class="container">
  <div class="logo d-flex justify-content-around align-items-center">
    <%= image_tag "cocktail-logo.png", alt: "cocktail", width: 250 %>
  </div>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.present? %>
      <div class="cocktail-card d-flex justify-content-around align-items-center" style="background-image: url('<%= cl_image_path cocktail.photo, height: 300, width: 300, crop: :fill %>')";>
    <% else %>
    <div class="cocktail-card d-flex justify-content-around align-items-center" style="background-color: grey";>
    <% end %>
      <h3><%= link_to cocktail.name, cocktail_path(id: cocktail['id']), class: 'cocktail-name' %></h3>
    </div>
    <% end %>
  </div>
</div>
